


header{
    background-color: rgba(0, 0, 0, 0.76);
   
}
.header{
    font-size: 36px;
    font-weight: bolder;
    color: #E6533C;
    
}
 .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
}
.nav-links{
    display: flex;
    border: 1px solid white;
    border-radius: 40px;
    padding-left: 0.3rem;
    width: 18rem;
    height: 2rem;
    align-items: center;
}
.nav-item{
    text-decoration: none;
    list-style: none;
    padding-right: 1.6rem;
    color: #FFFFFF; 
    font-size: 1rem;
}
.h-item{
    background-color: #E6533C;
    font-size: 1rem;
    border-radius: 20px;
    border: 1px solid #E6533C;
    color: #FFFFFF; 
    position: relative;
}


.btn{
    background-color: #E6533C;
    border-radius: 30px;
    border: 2px solid #E6533C;
    width: 224px;
    height: 54px;
    color: #FFFFFF;
    font-weight: bold ;
    font-size: larger;
}
.btn-2{
    border-radius: 30px;
    border: 1px solid white;
    width: 224px;
    height: 54px;
    background-color:  rgba(0, 0, 0, 0.041);
    color: #FFFFFF;
    font-weight: bold ;
    font-size: larger;
}
.banner{
    display: flex;
    margin-left: 11.8rem;
    margin-right: 10rem;
   
}
.banner-title{
    color: #FFFFFF;
    font-size: 4.9rem;
    font-weight: bolder;
}
.banner-content p{
    color: #92908b;
}
.card{
    display: flex;
    position: relative;
    margin-top: 30px;
}
.fact-card{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid whitesmoke;
    width: 50%;
    height: 15%;
    position: absolute;
    bottom: 16%;
    left: -20%;
    background-color: rgba(0, 0, 0, 0.192);

}
.icon-circle{
    width: 2rem;
    height: 2rem;
    background-color: #E6533C;
    border-radius: 50%;
    margin-right: 1rem;
    
}
.fact-text h1{
    font-size: 2rem;
    color: #FAFAF9;
    margin: 0;
    font-weight: bolder;
}
.fact-text p{
    margin: 0;
    font-size: 0.9rem;
    color:#92908b;
    opacity: 0.8;
    
}
.card-2{
    width: 44%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid whitesmoke;
    border-radius: 15px;
    padding-left: 0.5rem;
    position: absolute;
    top: 25%;
    right: -10%;
    background-color: rgba(0, 0, 0, 0.192);
}

/* section2*/
section{
    background-color: black;
}
.main,.t-section{
   background-color: black;

}
.habits{
    padding-bottom: 3%;
    padding-top: 3%;
    margin-left: 12%;
    margin-right: 12%;
}
.section2-heading{
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 3rem;
    margin: auto;
}
.section2-p{
    text-align: center;
    justify-content: center;
    color: #92908b;
}
.fitness{ 
    display: flex;
}
.movement{
    padding-top: 2rem;
    justify-content: center;
    text-align: center;
    color: #92908b;
}
.movement h2{
    color: #EFEDE8;
}
.image-3{
    height: 70%;
    width: 70%;
    border-radius: 100%;
    border: 2px solid rgba(255, 255, 255, 0.164);
}
.section-run{
    background-color: black;
    
}
.run{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 12%;
    margin-left: 12%;
    border-radius: 15px;
    background-color:rgba(126, 123, 123, 0.24);
    box-shadow: 0 4px 8px rgba(82, 80, 80, 0.192);
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.content{
    
    margin-left: 5%;
}
.content h2{
    font-size:3rem;
    color: #EFEDE8;
}
.content p{
    color: #92908b;
}
.run img{
    width: 60%;
    height: 40%;
    border-radius: 10%;
    margin-left: 35%;
}
/*training*/
.training{
    background-color: black;
    margin-left: 12%;
    margin-right: 12%;
   
}
.t-content h2{
   padding-top: 3rem;
   color: #EFEDE8;
   font-size: 3rem;
}
.t-content p{
    color: #92908b;
    padding-bottom: 2rem;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.grid-item img{
    height:100%;
    width:100%;
    
}
   /*BMI calculator*/
.bmi-calculator{
    margin-top: 12%;
    margin-right: 12%;
    text-align: center;
    align-items: center;
    padding-bottom: 2rem;
}
.bmi-calculator h2{
    font-size: 3rem;
    color: #FAFAF9;
}
.bmi-calculator p{
    color: #FAFAF9;
}
.bmi-part{
    display: flex;
    justify-content: space-between;
    background-color: rgba(82, 74, 74, 0.26);
    box-shadow: 0 4px 8px rgba(85, 83, 83, 0.26);
    padding-bottom: 2rem;
}
.bmi-chart{
    margin-left: 12%;
    max-width: 60%;
}
.bmi-calculation{
    margin-right: 12%;
    max-width: 40%;
    
}
.bmi-chart h2,.bmi-calculation h2{
    font-size: 2rem;
    margin-bottom: 5%;
    color: #EFEDE8;
}

.bmi-chart table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.bmi-chart th{
    padding: 10px;
    text-align: left;
    border: 1px solid #92908b;
    color: #EFEDE8;
}
.bmi-chart td{
    padding: 10px;
    text-align: left;
    border: 1px solid #92908b;
    color: #92908b;
}
.bmi-calculation p{
    color: #92908b;
}
.bmi-calculation input,.bmi-calculation select{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(82, 74, 74, 0.26);
    color: #92908b;
    
}
.gender{
    width: 37%;
}
.activity{
    width: 75%;
}
.team{
    text-align: center;
    justify-content: center;
}
.team h2{
    font-size: 3rem;
    color: #EFEDE8;
}
.team p{
    color: #92908b;
    padding-bottom: 2rem;
}
.team-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 12%;
    margin-right: 12%;
    background-color: #4d4a43;
    border-radius: 20px;
    gap: 20px;
    padding: 20px;
}
.team-item img{
    height: 100%;
    width: 100%;
    
    border-radius: 20px;
}
.choice{
    margin-left: 12%;
    margin-right: 12%;
}
.choice h2{
    font-size: 3rem;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
}
.choice p{
    color:#92908b;
}