header{
    background:rgba(0, 0, 0, 0.774);
}
.header{
    font-size: 36px;
    font-weight: bolder;
    color: #E6533C;
    
}
 .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
}
.nav-links{
    display: flex;
    border: 1px solid white;
    border-radius: 40px;
    padding-left: 0.3rem;
    width: 18rem;
    height: 2rem;
    align-items: center;
}
.nav-item{
    text-decoration: none;
    list-style: none;
    padding-right: 1.6rem;
    color: #FFFFFF; 
    font-size: 1rem;
}
.h-item{
    background-color: #E6533C;
    font-size: 1rem;
    border-radius: 20px;
    border: 1px solid #E6533C;
    color: #FFFFFF; 
    position: relative;
}


.btn{
    background-color: #E6533C;
    border-radius: 30px;
    border: 2px solid #E6533C;
    width: 224px;
    height: 54px;
    color: #FFFFFF;
    font-weight: bold ;
}
.btn-2{
    border-radius: 30px;
    border: 1px solid white;
    width: 224px;
    height: 54px;
    background-color:  rgba(0, 0, 0, 0.041);
    color: #FFFFFF;
    font-weight: bold ;
}
.banner{
    display: flex;
    margin-left: 11.8rem;
    margin-right: 10rem;
   
}
.banner-title{
    color: #FFFFFF;
    font-size: 4.9rem;
    font-weight: bolder;
}
.banner-content p{
    color: #FFFFFF;
}
.card{
    display: flex;
    position: relative;
    margin-top: 30px;
}
.fact-card{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid whitesmoke;
    width: 50%;
    height: 15%;
    position: absolute;
    bottom: 16%;
    left: -20%;
    background-color: rgba(0, 0, 0, 0.192);

}
.icon-circle{
    width: 2rem;
    height: 2rem;
    background-color: #E6533C;
    border-radius: 50%;
    margin-right: 1rem;
    
}
.fact-text h1{
    font-size: 2rem;
    color: #FAFAF9;
    margin: 0;
    font-weight: bolder;
}
.fact-text p{
    margin: 0;
    font-size: 0.9rem;
    color:#EFEDE8;
    opacity: 0.8;
    
}
.card-2{
    width: 44%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid whitesmoke;
    border-radius: 15px;
    padding-left: 0.5rem;
    position: absolute;
    top: 25%;
    right: -10%;
    background-color: rgba(0, 0, 0, 0.192);
}

/* section2*/
section{
    background-color: black;

}
.habits{
    
    padding-top: 3%;
    margin-left: 12%;
    margin-right: 12%;
}
.section2-heading{
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 3rem;
    margin: auto;
}
.section2-p{
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
}
.fitness{
    display: flex;
}
.movement{
    padding-top: 2rem;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
}
.image-3{
    height: 70%;
    width: 70%;
    border-radius: 100%;
    border: 2px solid rgba(255, 255, 255, 0.164);
}
.run{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 12%;
    margin-left: 12%;
    border-radius: 15px;
    background-color:rgba(126, 123, 123, 0.24);
    box-shadow: 0 4px 8px rgba(82, 80, 80, 0.192);
    
}
.content{
    
    margin-left: 5%;
}
.content h2{
    font-size:3rem;
    color: #EFEDE8;
}
.content p{
    color: #EFEDE8;
}
.run img{
    width: 60%;
   
    border-radius: 10%;
    margin-left: 35%;
}
